.App {
  height: 100%;
}

.dropContainer {
  display: flex;
  flex-wrap: nowrap;
}

.dropContainer > div {
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
