.App {
  height: 100%;
}

.dashboard {
  height: 100%;
  display: flex;
}

.overlay-container {
  margin: 15px 15px;
  height: 35%;
  width: 35%;
  position: relative;
  background-color: #ccc;
}

.drop-area {
  border: 2px solid black;
  border-radius: 3px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.drop-area-text {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 36;
  font-weight: bold;
}

.address-area {
  position: relative;
  overflow-y: auto;
  margin: 25px;
  line-height: 2;
  font-size: 18px;
}
